{% extends 'myapp/base.html' %}
{% block body %}

<div class="">
    {% for item in item_list %}
    <div class="flex w-1/2 mx-auto py-5">
        <div>
            <img class="w-64 rounded-lg" src="{{item.item_image}}" alt="placeholder">
        </div>
        <div class="mx-30 space-y-4 py-4 text-left">
            <div class="font-bold text-4xl text-left">{{ item.item_name }}</div>
            <div>{{ item.item_desc }}</div>
            <div class="font-bold text-green-500 text-2xl">₹{{ item.item_price }}</div>
        </div>
        <div class="mx-auto py-4">
            <a class="bg-red-500 text-white px-5 py-2 rounded-xl" href="{%url 'myapp:detail' item.id %}">Veiw details</a>
        </div>
    </div>
    
    {% endfor %}
</div>

{% endblock %}
